#container {
  border: solid black ;
  border-radius: 15px;
  margin: 5em auto;
  max-width: 600px;
  position: relative;
  width: 100%;
  padding: 50px 50px;
  background-color: #f2f8fb;
}

#display {

  border: solid black 1px;
  border-radius: 15px;
  font-size: 5rem;
  height: 80px;
  text-align: right;
  width: 100%;
  background-color: #c4cfbc;
}

#numPad {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding-top: 20px;
}

.equalSign {
  background-color: #04aa6dcb;
  border-radius: 10px;
  outline: none;
  grid-column-end: span 2;

}

.equalSign:hover {
  background-color: #04aa6d;
}

.equalSign:active {
  background-color: #04aa6d;
  transform: translateY(1px);
}

.funcButton {
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #d9a5af;
  border-radius: 10px;
  height: 50px;
}

.funcButton:hover{
  background-color: rgb(198, 105, 105);
}

.funcButton:active {
  background-color: rgb(198, 105, 105);
  transform: translateY(1px);
}

.button, .mathButton, .plusMinus {
  border-radius: 10px;
  height: 50px;
}

.button, .plusMinus {
  margin: 1px;
  background-color: #89909b;
}

.button:hover, .mathButton:hover, .plusMinus:hover {
  background-color: grey;
}

.button:active, .mathButton:active, .plusMinus:active {
  background-color: #848b9b;
  transform: translateY(1px);
}

.button, .equalSign, .funcButton, .mathButton, .plusMinus {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: larger;
  color: white;
  text-shadow: -1px 1px 0 #000,
				        1px 1px 0 #000,
				        1px -1px 0 #000,
				        -1px -1px 0 #000;
}
