#container {
    display: grid;
    margin: 50px;
    justify-content: center;
    border: solid black ;
  }
  
  #display {
    border: solid black 1px;
    border-radius: 5px;
    max-width: 9em;
  }

  .numPad {
      display: flex;
      max-width: 9em;
  }
  
  .button {
   
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    
  }
  
  .button:hover, .numPad:hover {
      background-color: #3e8e41
    }
  
  .button:active, .numPad:active {
    background-color: #3e8e41;
    transform: translateY(1px);
  }