#container {
  border: solid black ;
  border-radius: 5px;
  margin: 0 auto;
  max-width: 600px;
  position: relative;
  width: 100%;
  padding: 50px 50px;
}

#display {

  border: solid black 1px;
  border-radius: 5px;
  font-size: 5rem;
  height: 80px;
  text-align: right;
  width: 100%;
}

#numPad {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding-top: 20px;
}

.equalSign {
  background-color: #04aa6dcb;
  border-radius: 10px;
  outline: none;

}

.equalSign:hover {
  background-color: #04aa6d;
}

.equalSign:active {
  background-color: #04aa6d;
  transform: translateY(1px);
}

.funcButton {
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: rgba(198, 105, 105, 0.762);
  border-radius: 10px;
  height: 50px;
}

.funcButton:hover{
  background-color: rgb(198, 105, 105);
}

.funcButton:active {
  background-color: rgb(198, 105, 105);
  transform: translateY(1px);
}

.button, .mathButton {
  border-radius: 10px;
  height: 50px;
}

.button:hover, .mathButton:hover {
  background-color: grey;
}

.button:active, .mathButton:active {
  background-color: darkgray;
  transform: translateY(1px);
}

.button, .equalSign, .funcButton, .mathButton {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: larger;
  color: white;
  text-shadow: -1px 1px 0 #000,
				        1px 1px 0 #000,
				        1px -1px 0 #000,
				        -1px -1px 0 #000;
}